In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data/3_22.csv')

In [3]:
df2=pd.read_csv('data/2_15.csv')

In [4]:
df=df.loc[df['P/B']<=1.2, ['Ticker','Market Cap']].reset_index(drop=True)

In [5]:
df2=df2[['Ticker','comment1','comment2']]

In [18]:
df.head()

  Ticker Market Cap
0    TTE    132.47B
1      E     52.15B
2    HMC     51.28B
3   PARA     24.06B
4    PKX     20.17B

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ticker      119 non-null    object
 1   Market Cap  119 non-null    object
dtypes: object(2)
memory usage: 2.0+ KB

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Ticker    143 non-null    object
 1   comment1  143 non-null    object
 2   comment2  35 non-null     object
dtypes: object(3)
memory usage: 3.5+ KB

In [21]:
df3=pd.merge(df, df2, how='left', on='Ticker')

In [22]:
df3.shape

(119, 4)

In [25]:
df3.head()

,Ticker,Market Cap,comment1,comment2
0,TTE,132.47B,NaN,NaN
1,E,52.15B,1,NaN
2,HMC,51.28B,bad business,"drained cash flow on capex without result, 10Y..."
3,PARA,24.06B,NaN,NaN
4,PKX,20.17B,bought,value 26

In [36]:
df3[df3['comment1'].isnull()]

    Ticker Market Cap comment1 comment2
3     PARA     24.06B      NaN      NaN
8       TX      8.32B      NaN      NaN
10     PVH      5.73B      NaN      NaN
14      FL      3.26B      NaN      NaN
15     YPF      3.16B      NaN      NaN
39    FOSL    529.26M      NaN      NaN
40    RBBN    503.50M      NaN      NaN
43    ANIP    489.23M      NaN      NaN
53     NTP    270.09M      NaN      NaN
71    NNBR    133.41M      NaN      NaN
75    IVAC    124.21M      NaN      NaN
82    SUNW     86.71M      NaN      NaN
91    MARK     77.17M      NaN      NaN
92    BTTR     76.30M      NaN      NaN
117   INPX     51.11M      NaN      NaN

In [35]:
df3.loc[df3['Ticker']=='TTE',['comment1']]='1'

In [38]:
df3.loc[df3['Ticker']=='TTE']

  Ticker Market Cap comment1 comment2
0    TTE    132.47B        1      NaN

In [15]:
#df['unit']=df['Market Cap'].str.get(-1)

In [16]:
#df['number']=pd.to_numeric(df['Market Cap'].str.slice(0, -1))

In [17]:
#conditions
#large=(df['unit']=='B')&(df['number']>=10)&(df['number']<200)
#mid=(df['unit']=='B')&(df['number']>=2)&(df['number']<10)
#small=((df['unit']=='B')&(df['number']>=1)&(df['number']<2))|((df['unit']=='M')&(df['number']>=300)&(df['number']<1000))
#micro=(df['unit']=='M')&(df['number']>=50)&(df['number']<300)
#nano=(df['unit']=='M')&(df['number']<50)

KeyError: 'unit'